<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500&family=Russo+One&display=swap"
    rel="stylesheet" />

  <!-- Fontawesome -->
  <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">

  <!-- CSS BOOSTSTRAP -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />

  <link rel="stylesheet" href="../styling/style.css">
  <link rel="icon" href="../assets/image/img logo/LOGO MEDIACOM.ico" />
  <title>Tentang Kami | Media Com Binjai</title>
</head>

<body style="font-family: 'Poppins', sans-serif">

  <button onclick="backToTop()" id="btn-back-to-top"><i class="fa-solid fa-arrow-up"></i></button>
  <!-- Header -->
  <section id="header" class="sticky-lg-top sticky-sm-top">
    <nav class="navbar navbar-expand-lg bg-light bg-opacity-75 shadow-sm pt-lg-4" style="backdrop-filter: blur(5px);">
      <div class="container">
        <a class="navbar-brand" href="../index.html">
          <img src="../assets/image/img logo/MEDIACOM.png" alt="Media Com Binjai" width="230rem">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTopNav"
          aria-controls="navbarTopNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarTopNav">
          <ul class="navbar-nav fw-semibold text-sm-cente center-xs-navbar">
            <li class="nav-item">
              <a class="nav-link" href="../index.html">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="fasilitas.html">Fasilitas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="tentang_kami.html">Tentang Kami</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="kategori_kelas.html" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Kelas
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="kelas/kelas_reguler.html">Reguler</a></li>
                <li><a class="dropdown-item" href="kelas/kelas_satuTahun.html">Pelatihan 1 Tahun</a>
                </li>
                <li><a class="dropdown-item" href="kelas/paket_pkl.html">Paket PKL(Prakerin)</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
  <!-- Akhir Header -->

  <!-- Judul Tentang Media Com -->
  <section id="judulTentangKami">
    <div class="container-fluid position-relative po">
      <img src="../assets/image/img carousel/Tentang Kami Media Com.png" alt="Tentang Media Com"
        class="img-fluid opacity-50">
      <div class="position-absolute top-50 start-50 translate-middle text-center text-dark" style="width: 100%;">
        <h2>Tentang Media Com Binjai</h2>
      </div>
    </div>
  </section>
  <!-- Akhir Judul Tentang Media Com -->

  <!-- content -->
  <section id="content">
    <div class="container">
      <div
        class="d-flex flex-lg-row flex-lg-wrap flex-sm-wrap justify-content-lg-evenly justify-content-sm-around body-content">
        <!-- kiri -->
        <div class="align-self-center mb-sm-3">
          <ul type="none" class="lh-lg list-profil-lembaga">
            <li>
              <h3>Profil</h3>
            </li>
            <li>Nama Lembaga : Media Com Binjai</li>
            <li>Nomor Induk Lembaga Khursus : 07201.4.1.0057</li>
            <li>
              Izin Dinas Pendidikan : 421.9-5244 Tanggal 12 Agustus 2015
            </li>
            <li>Izin Dinas Tenaga Kerja : SER.563-01-03/DSTK/III/2015</li>
            <li>Alamat : Jl. Danau Baratan 1 No. 67C Kota Binjai</li>
            <li>Telp : 061-8820365</li>
            <li>mediacomkotabinjai2010@gmail.com</li>
          </ul>
        </div>
        <!-- kanan -->
        <div class="text-center gambar-kanan-hero">
          <img src="../assets/image/img carousel/tentang Media Com.jpg" alt="Media Com Binjai"
            class="img-fluid img-hero" />
        </div>
      </div>

      <!-- sejarah media com -->
      <div class="text-center mb-3 latar-belakang">
        <h3>Latar Belakang Media Com</h3>
      </div>
      <div
        class="d-flex flex-lg-row flex-lg-wrap flex-sm-wrap justify-content-lg-evenly justify-content-sm-around body-tentang-kami mb-5">
        <!-- kiri -->
        <div class="align-self-center mb-sm-3 body-content-kiri">
          <p>
            Lembaga Pendidikan Pelatihan dan Keterampilan Komputer Media Com
            Binjai didirikan pada tanggal 25 Mei 2010 di kota Binjai, Sumatera
            Utara. Landasan pendirian lembaga ini adalah untuk mempersiapkan
            dan mengingkatkan keahlian sumber daya manusia (SDM) yang sesuai
            dengan tuntutan kebutuhan dunia kerja melalui pelatihan
            keterampilan, ilmu pengetahuan terapan serta pengembangan sikap
            dan perilaku kerja profesional
          </p>
          <p>
            Seiring dengan perkembangan jaman dan kebutuhan masyarakat, maka
            lembaga pendidikan ini menyelanggarakan beberapa jenis pendidikan
            meliputi : Teknisi Komputer (Hardware), Teknisi Komputer Jaringan
            (LAN), Web Desain (Pemrograman), Desain Grafis, Video Shooting dan
            Editing (Multimedia), Komputer Akuntansi (MYOB), Aplikasi
            Perkantoran (Microsoft Office) dan Paket Praktek Kerja Industri
            (Prakerin / PSG) yang masing-masing menyediakan pilihan paket.
          </p>
        </div>
        <!-- kanan -->
        <div class="text-center">
          <!-- Pimpinan Media Com -->
          <img src="../assets/image/img carousel/Bapak.png" alt="Pimpinan Media Com" class="img-fluid  img-pimpinan"
            loading="lazy" />
        </div>
      </div>

      <!-- Visi Misi -->
      <div class="row visi-misi">
        <div class="text-center pb-5 visi">
          <h3>Visi</h3>
          <p>
            Menjadi Pusat Pendidikan Dan Pelatihan Yang Unggul Dalam
            Intelektual Dan Mahir Dalam Keterampilan
          </p>
        </div>

        <div class="text-center misi">
          <h3>Misi</h3>
          <ul type="none" class="misi">
            <li>
              Menyelenggarakan Pendidikan, Pelatihan dan Keterampilan di
              Bidang Informasi dan Komputer untuk menghasilkan SDM yang
              profesional di bidang Teknologi Informasi dan Komunikasi serta
              taat kepada Allah Tuhan Yang Esa.
            </li>
            <li>
              Menyelenggarakan pengembangan dan pengabdian pada masyarakat di
              bidang pendidikan teknologi dan komunikasi.
            </li>
            <li>
              Menyelenggarakan pelayanan jasa di bidang Teknologi Informasi
              dan Komunikasi.
            </li>
          </ul>
        </div>
      </div>

      <!-- Profil Instruktur -->
      <!-- <div class="text-center">
        <h3>Tim Media Com</h3>
      </div>
      <div class="d-flex flex-lg-wrap flex-sm-wrap justify-content-lg-evenly justify-content-sm-around"> -->
      <!-- List Profil -->
      <!-- profil 1 -->
      <!-- <div class="card mb-lg-5 mb-sm-3" style="width: 30rem;">
          <div class="card-body">
            <div class="d-flex justify-content-lg-between justify-content-sm-between">
              <div class="kiri" style="width: 10rem;">
                <img src="../assets/image/img profil instruktur/qTBo8xX7c.jpg" alt="Foto Profil"
                  class="img-thumbnail rounded-circle">
              </div>
              <div class="kanan" style="width: 15rem;">
                <h5 class="card-title">Ferdy Herdianto</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instruktur</h6>
                <ul class="ps-0" style="list-style-type: none;">
                  <li>Pemrograman</li>
                  <li>Dasar Linux</li>
                  <li>MS Office</li>
                </ul>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div> akhir profil 1 -->

      <!-- profil 2 -->
      <!-- <div class="card mb-lg-5 mb-sm-3" style="width: 30rem;">
          <div class="card-body">
            <div class="d-flex justify-content-lg-between justify-content-sm-between">
              <div class="kiri" style="width: 10rem;">
                <img src="../assets/image/img profil instruktur/qTBo8xX7c.jpg" alt="Foto Profil"
                  class="img-thumbnail rounded-circle">
              </div>
              <div class="kanan" style="width: 15rem;">
                <h5 class="card-title">Ferdy Herdianto</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instruktur</h6>
                <ul class="ps-0" style="list-style-type: none;">
                  <li>Pemrograman</li>
                  <li>Dasar Linux</li>
                  <li>MS Office</li>
                </ul>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div> akhir profil 2 -->

      <!-- profil 3 -->
      <!-- <div class="card mb-lg-5 mb-sm-3" style="width: 30rem;">
          <div class="card-body">
            <div class="d-flex justify-content-lg-between justify-content-sm-between">
              <div class="kiri" style="width: 10rem;">
                <img src="../assets/image/img profil instruktur/qTBo8xX7c.jpg" alt="Foto Profil"
                  class="img-thumbnail rounded-circle">
              </div>
              <div class="kanan" style="width: 15rem;">
                <h5 class="card-title">Ferdy Herdianto</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instruktur</h6>
                <ul class="ps-0" style="list-style-type: none;">
                  <li>Pemrograman</li>
                  <li>Dasar Linux</li>
                  <li>MS Office</li>
                </ul>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div> akhir profil 3 -->

      <!-- profil 4 -->
      <!-- <div class="card mb-lg-5 mb-sm-3" style="width: 30rem;">
          <div class="card-body">
            <div class="d-flex justify-content-lg-between justify-content-sm-between">
              <div class="kiri" style="width: 10rem;">
                <img src="../assets/image/img profil instruktur/qTBo8xX7c.jpg" alt="Foto Profil"
                  class="img-thumbnail rounded-circle">
              </div>
              <div class="kanan" style="width: 15rem;">
                <h5 class="card-title">Ferdy Herdianto</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instruktur</h6>
                <ul class="ps-0" style="list-style-type: none;">
                  <li>Pemrograman</li>
                  <li>Dasar Linux</li>
                  <li>MS Office</li>
                </ul>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div> akhir profil 4 -->

      <!-- profil 5 -->
      <!-- <div class="card mb-lg-5 mb-sm-3" style="width: 30rem;">
          <div class="card-body">
            <div class="d-flex justify-content-lg-between justify-content-sm-between">
              <div class="kiri" style="width: 10rem;">
                <img src="../assets/image/img profil instruktur/qTBo8xX7c.jpg" alt="Foto Profil"
                  class="img-thumbnail rounded-circle">
              </div>
              <div class="kanan" style="width: 15rem;">
                <h5 class="card-title">Ferdy Herdianto</h5>
                <h6 class="card-subtitle mb-2 text-muted">Instruktur</h6>
                <ul class="ps-0" style="list-style-type: none;">
                  <li>Pemrograman</li>
                  <li>Dasar Linux</li>
                  <li>MS Office</li>
                </ul>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div> akhir profil 5 -->
      <!-- </div> -->
    </div>
  </section>
  <!-- akhir content -->

  <!-- Footer -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#061272" fill-opacity="1"
      d="M0,192L80,208C160,224,320,256,480,234.7C640,213,800,139,960,96C1120,53,1280,43,1360,37.3L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
    </path>
  </svg>
  <footer id="footer" class="text-white">
    <div class="container">
      <div class="row">
        <!-- kolom 1 -->
        <div class="col-lg-5 mb-sm-3">
          <div class="ms-3">
            <h2>Media Com Binjai</h2>
            <div class="d-flex d-flex-footer">
              <i class="fa-solid fa-location-dot me-lg-2 me-sm-2"></i>
              <p>Jl. Danau Baratan 1 No. 67 C Kota Binjai</p>
            </div>
            <div class="d-flex d-flex-footer">
              <i class="fa-solid fa-headset me-lg-2 me-sm-2"></i>
              <p>Telp : 061-8820365</p>
            </div>
          </div>
        </div>


        <!-- kolom 3 -->
        <div class="col-lg-4 mb-sm-3">
          <h3 class="ms-3">Kelas</h3>
          <ul class="nav flex-column flex-sm-column lh-sm">
            <li class="nav-item">
              <a class="nav-link text-light" href="kelas/kelas_reguler.html">Reguler</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="kelas/kelas_satuTahun.html">Pelatihan 1 Tahun</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="kelas/paket_pkl.html">Paket PKL (Prakerin)</a>
            </li>
          </ul>
        </div>

        <!-- kolom 4 -->
        <div class="col-lg-3 mb-sm-3">
          <h3 class="ms-3">Tautan</h3>
          <ul class="nav flex-column flex-sm-column lh-sm">
            <li class="nav-item">
              <a class="nav-link text-light" href="../index.html">Beranda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="fasilitas.html">Failitas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="tentang_kami.html">Tentang Kami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="kategori_kelas.html">Kelas</a>
            </li>
          </ul>
        </div>
      </div> <!-- akhir baris-->
      <div class="row">
        <h3 class="ms-3">Sosial Media</h3>
        <div
          class="d-flex d-flex-icon-footer flex-sm-row flex-lg-row fs-4 justify-content-lg-start gap-lg-3 gap-sm-3 pb-3 mt-3 ms-3">
          <a href="#" style="color: white;"><i class="fa-brands fa-facebook"></i></a>
          <a href="#" style="color: white;"><i class="fa-brands fa-youtube"></i></a>
          <a href="#" style="color: white;"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" style="color: white;"><i class="fa-brands fa-tiktok"></i></a>
        </div>
      </div>
      <div class="row">
        <div
          class="d-flex flex-lg-row flex-sm-wrap fs-6 justify-content-lg-between justify-content-sm-around text-footer-penutup">
          <div class="text-lg-start text-sm-center pb-lg-3 pb-sm-0 mt-lg-3 mt-sm-0 ">
            <p>&copy; Media Com Binjai 2022</p>
          </div>
          <div class="text-lg-end text-sm-center pb-lg-3 pb-sm-0 mt-lg-3 mt-sm-0">
            <p>dibuat penuh <i class="fa-solid fa-heart text-danger"></i> di bumi tersayang</p>
          </div>
        </div>
      </div>
    </div>

  </footer>
  <!-- Akhir Footer -->

  <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../bootstrap/js/script.js"></script>
</body>

</html>